.my-event-card-link{
  text-decoration: none;
  color: white;
}

.my-event-card {
    display: flex; 
    background: var(--color-surface);
    border-radius: var(--radius);
    padding: 1.2rem;
    border: 1px solid #2a2a2a;
    margin-bottom: 1rem;
}

/* month & date -> left*/
.month-and-date {
    display: flex;
    flex-direction: column;
    color: var(--color-text-muted);
    font-size: 1rem;
    font-weight: 300;
    justify-content: center;
}

.event-card-link{
  text-decoration: none;
  color: inherit;
}

.mec-month {
    font-family: "Cascadia Mono", sans-serif;
    margin-bottom: 0.1rem;
    align-self: center;
}

.mec-date {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 0;
    color: #61CAFF
}

/* mex-info -> right*/
.mec-info{
    margin-left: 1rem;
    align-content: center;
    width: 100%;
}

.mec-details{
    display: flex;
    flex-direction: row;
    font-family: "Cascadia Mono", sans-serif;

    font-size: 0.8rem;
    font-weight: 300;
    align-items: center;
}
.mec-title {
    margin: 0 0 8px 0; 
    font-size: 1rem;
}

.mec-clock {
    color: var(--color-text-muted);
    width: 10px;
    height: 10px;
    margin-bottom:10px; 
    margin-right: 10px; 
}

.mec-dot {
    color: var(--color-text-muted);
    margin-right: 10px; 
    margin-left: 10px; 

}

.mec-time{
    color: var(--color-text-muted);
    margin-bottom: 10px;
}

.mec-location {
    color: var(--color-text-muted);
    margin-bottom: 10px;
    
}

.mec-status {
    font-family: "Cascadia Mono", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.mec-status__registered{
    color: #06DF72;
}

.mec-status__organizing{
    color: #FCD64D;
}

.mec_status-and-edit{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

/*Edit Button*/
#mec-edit-button{
    background-color: #fcd64d45;
    border: 1px solid;
    border-radius: 1rem;
    border-color: #FCD64D;
    color: white;
    font-weight: 600;
    font-size: 0.7rem;
    padding: 0.2rem 0.7rem; 
    margin-left: 0.7rem;
}

#mec-edit-button:hover{
    background-color: #fcd64d9b;
    cursor: pointer;
    transition: all 0.2s ease-in;
}


