.profile-event-card_container{
    display: flex;
    background-color: var(--color-surface);
    overflow: hidden;
    width: 49rem; 
    height: 11rem;

    border-radius: 1rem;
    border: 1px solid #2a2a2a;
    margin-bottom: 0.7rem;
}





/* IMAGE ------------------------------------------------------------------ */
.pec-image_wrapper{
    position: relative; /* für Badge*/
    flex-shrink: 0; /* fixiert die Breite?*/
    width: 18rem;
    height: 100%;
    overflow: hidden; 
}

.pec_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/*CONTENT CONTAINER-----------------------------------------------------------*/
.pec-content_container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.pec-title{
    margin: 0 0 0.3rem 0;
    font-size: 1.3rem;
}

.pec-info{
    font-size: 0.85rem;
    margin-bottom: 0.6rem;
    color: var(--color-text-muted)
}

#pec-info-text{
    margin-left: 0.3rem;
}

#pec-clock{
    height: 0.6rem;
    margin: 0 0.3rem 0 0.4rem;

}
#pec-date{
    margin-left: 0.4rem;
}

.pec-description{
    font-size: 0.9rem;
    color: white;
}

.pec-status{
    margin:0 0 0 0;
}

.pec-status.registered{
    color: #06DF72;
    font-weight: 600;
}
.pec-status.organizing{
    color: #FCD64D;
    font-weight: 600;
}

.status-and-edit{
    display: flex;
    justify-content: space-between;
    margin-top: auto; /*schiebt Element nach unten*/
    margin-bottom: 0.6rem;
}

/*Edit Button*/
#edit-button{
    background-color: #fcd64d45;
    border: 1px solid;
    border-radius: 1rem;
    border-color: #FCD64D;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.2rem 0.7rem; 
}

#edit-button:hover{
    background-color: #fcd64d9b;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

