:root {
  --color-bg: #000000;
  --color-surface: #1c1c1c;
  --color-text: #f2f2f2;
  --color-text-muted: #a3a3a3;
  --color-accent: #ff3d5a;
  --color-battle: #ff3d5a;
  --color-open-session: #3ddc97;
  --color-workshop: #ffc233;
  --radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Inter", Arial, sans-serif;
}

/* betrifft alles im .app Containter in App.jsx*/
.app {
  width: 100%; 
  max-width: 1900px;   /* 960px für etwas kompakter, 1200px*/
  margin: 0 auto; /* margin: Außenabstand 
                    0 -> kein Außenabstand oben/unten
                    auto -> links/rechts verteilt Browser den übrig gebliebenen Platz automatisch
                  => Ergebnis: horizontale Zentrierung*/
  padding: 0 1.5rem 4rem;
}